# OS
.directory
.DS_Store
*-swp

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Netbeans / Eclipse
nbproject/
*.project
.nbrun

# JetBrains
.idea/
*.ipr
*.iws
*.iml

# VIm
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Qt-es
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
